<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-title>SG2K</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<!--<ion-content padding>-->
  <!--<tabs-sg2k></tabs-sg2k>-->
<!--</ion-content>-->
  <!--<ion-header>-->
    <!--<ion-navbar>-->
      <!--<ion-title>SG2K</ion-title>-->
      <!--<ion-buttons end padding-right>-->
        <!--<button ion-button icon-only (click)="onSearch()">-->
          <!--<ion-icon name="search"></ion-icon>-->
        <!--</button>-->
        <!--<button ion-button icon-only>-->
          <!--<ion-icon name="qr-scanner"></ion-icon>-->
        <!--</button>-->
      <!--</ion-buttons>-->
    <!--</ion-navbar>-->
<!--</ion-header>-->
<!--<div class="fixed-content" style="margin-top: 56px; margin-bottom: 67px;"></div>-->
<ion-nav [root]="rootPage"></ion-nav>
