<!--
  从设置进入的电量统计页面
  by q1cha0
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      电量统计
    </ion-title>
  </ion-navbar>
  <ion-searchbar
    [navPush]="pushPage"
    [(ngModel)]="searchVal"
    #searchBar
    debounce="1000"
    placeholder="传感器ID、机泵位号/名称">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-item
    *ngFor="let item of batteryItems">
    <div>
      <div>{{item.sensorId}}</div>
    </div>
    <div>
      <ion-icon name="pin"></ion-icon>
      {{item.pumpName}} - {{item.dsName}}
    </div>
  </ion-item>
</ion-content>
