<ion-header>
  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section>
    <ion-segment [(ngModel)]="pet" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="0">
        实时数据
      </ion-segment-button>
      <ion-segment-button value="1">
        状态变化
      </ion-segment-button>
    </ion-segment>
  </section>
  <section>
    <h3 class="title" text-center margin-vertical>{{title}}</h3>
    <div *ngIf="pet == 1">
      <ion-segment [(ngModel)]="timesel" (ionChange)="userSelectDate($event)">
        <ion-segment-button value="1">
          天
        </ion-segment-button>
        <ion-segment-button value="2">
          周
        </ion-segment-button>
        <ion-segment-button value="3">
          月
        </ion-segment-button>
        <ion-segment-button value="4">
          年
        </ion-segment-button>
        <ion-segment-button value="0">
          自定义
        </ion-segment-button>
      </ion-segment>
      <div text-center>
        <p *ngIf="timesel != 0">{{preDate}}—{{curDate}}</p>
        <p *ngIf="timesel == 0">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-4 align-self-center>
                <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="preDate" cancelText="取消" doneText="完成" [max]="maxDate"></ion-datetime>
              </ion-col>
              <ion-col col-1 align-self-center>-</ion-col>
              <ion-col col-4 align-self-center>
                <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="curDate" cancelText="取消" doneText="完成" [max]="maxDate"></ion-datetime>
              </ion-col>
              <ion-col col-3 align-self-center>
                <button ion-button small block (click)="customDate()">确定</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </p>
      </div>
    </div>
    <echarts-ng2 #pieCharts [option]="pieData"></echarts-ng2>
    <ion-grid>
      <ion-row *ngFor="let pump of showData">
        <ion-col col-4 class="type"><span [class]="pump.type | getType">&#12288;</span><span>&nbsp;{{pump.name}}</span></ion-col>
        <ion-col col-4 text-center><span>{{pump.value}}</span></ion-col>
        <ion-col col-4 text-center>{{pump.proportion}}</ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
