<!--
  传感器设置布局
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      传感器设置
    </ion-title>
  </ion-navbar>
  <ion-searchbar
    (click)="gotoSearch()"
    #searchBar
    debounce="1000"
    placeholder="传感器ID、机泵名称 / 位号">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <button
      ion-item
      *ngFor="let item of sensorSettingsItems"
      (click)="gotoDetails(item)">
      <p
        [style.color]="item.status === 1 ? '#000' : 'red'">
        {{item.sensorId}}
      </p>
      <div>
        <ion-icon name="pin"></ion-icon>
        {{item.pumpName}} {{!(item.name) ? "" : "--"}} {{item.name}}
      </div>

    </button>
  </ion-list>
</ion-content>
