<!--
  点击传感器设置后的详情页面
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      详情
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-5>
        <div>传感器</div>
      </ion-col>
      <ion-col col-7>
        <span>{{item.sensorId}}</span>
        <ion-badge>
          {{item.status === 1 ? "在线" : "离线"}}
        </ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <div>机泵位号 / 名称</div>
      </ion-col>
      <ion-col col-7>
        <div>{{item.pumpName}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <div>安装位置</div>
      </ion-col>
      <ion-col col-7>
        <div>{{item.name}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <div>安装角度</div>
      </ion-col>
      <ion-col col-7>
        <div>{{item.angle}}°</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <div>温度报警</div>
      </ion-col>
      <ion-col col-7>
        <div>{{item.temperatureAlarm}}℃</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <div>振动报警级别</div>
      </ion-col>
      <ion-col col-7>
        <div>
          {{item.lv | senorSettingsDetailsPipe}}类机泵
          <br>
          门限一 {{item.vibAlarmConfig.split(",")[0]}}
          <br>
          门限二 {{item.vibAlarmConfig.split(",")[1]}}
          <br>
          门限三 {{item.vibAlarmConfig.split(",")[2]}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
