<ion-header>
  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="list-box" item-left  color="#485a7e"></ion-icon>
      机泵设置
      <ion-icon name='ios-arrow-forward' item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="list-box" item-left  color="#485a7e"></ion-icon>
      用户管理
      <ion-icon name='ios-arrow-forward' item-right></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="list-box" item-left  color="#485a7e"></ion-icon>
      电量统计
      <ion-icon name='ios-arrow-forward' item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="list-box" item-left  color="#485a7e"></ion-icon>
      异常日志
      <ion-icon name='ios-arrow-forward' item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="list-box" item-left  color="#485a7e"></ion-icon>
      权限管理
      <ion-icon name='ios-arrow-forward' item-right></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
