<ion-header>
  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      (click)="gotoSensorSettings()">
      <ion-avatar item-start>
        <img src="../../assets/icon/favicon.ico">
      </ion-avatar>
      <h2>传感器设置</h2>
      <div class="sub-title">配置、更换、删除</div>
      <ion-icon name='arrow-forward'></ion-icon>
    </ion-item>
    <ion-item
      (click)="gotoPumpDataList()">
      <ion-avatar item-start>
        <img src="../../assets/icon/favicon.ico">
      </ion-avatar>
      <h2>权限管理</h2>
      <div class="sub-title">分享浏览、权限转移</div>
      <ion-icon name='arrow-forward'></ion-icon>
    </ion-item>
    <ion-item
      (click)="gotoBattery()">
      <ion-avatar item-start>
        <img src="../../assets/icon/favicon.ico">
      </ion-avatar>
      <h2>电量统计</h2>
      <div class="sub-title">电池使用情况</div>
      <ion-icon name='arrow-forward'></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
