page-home {
  ion-grid.grid { // ion-grid 和 ion-col 默认有 padding: 5px
    padding: 0;
    ion-col {
      padding: 0;
      ion-select {
        max-width: 90%;
      }
    }
  }
  // 头部
  ion-header {
    // 使用grid布局的搜索框和下拉框
    ion-grid.grid {
      ion-col:nth-of-type(1) {
        .searchbar-ios {
          //background-color: #fff;
        }
      }
      ion-col:nth-of-type(2) {
        background-color: #ccc;
      }
      ion-select {
        width: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        margin-right: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  // 列表信息
  ion-list {
    // 每行都可以点击的item, 被button包裹
    button {
      ion-label {
        padding-right: 1.5rem;
        position: relative;
        // 第一行
        p:nth-of-type(1) {
          position: relative;
          // 机泵名称
          span:nth-of-type(1) {
            font-size: 16px;
          }
          // 对应的日期
          span:nth-of-type(2) {
            font-size: 1.4rem;
            line-height: 1.6rem;
            position: absolute;
            top: .3rem;
            right: 0;
          }
        }
        // 第二行文字
        p:nth-of-type(2) {
          font-size: 1.8rem;
          ion-grid ion-row ion-col {

          }
        }
      }
      // 每行最右边的箭头
      ion-icon {
        position: absolute;
        top: 2rem;
        right: 0;
      }
    }
  }
}


